[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
spacy = "*"
seaborn = "*"
matplotlib = "*"
gensim = "*"
psycopg2 = "*"
textblob = "*"
textblob-fr = "*"
dataprep = "*"

[dev-packages]
jupyterlab = "*"
pyldavis = "*"
wordcloud = "*"

[requires]
python_version = "3.8"
